<body>
  <div id = "wrapper"></div>
  <div id="header">Playlist Me</div>

  <%= render "shared/navbar" %>
  
  <div id="content">
    <div id="content_text">
    Find a request you have good ideas for.
    </div>
  </div>

  <%= render "shared/footer" %>

</body>