  <div id="navigation">
      <ul>
        <li><%= link_to "Request a Playlist", new_playlist_request_path %></li>
        <li><%= link_to "Respond to a Request", playlist_requests_path %></li>
        <ul>
          <li>Hip-Hop</li>
          <li>Pop</li>
          <li>Classic Rock</li>
        </ul>
      </ul>
  </div>