<body>
  <div id = "wrapper"></div>
  <div id="header"><%= link_to "Playlist Me", root_path %></div>

  <div id="navigation">
      <ul>
        <li>Request a Playlist</li>
        <li>Suggest a Playlist</li>
        <ul>
          <li>Hip-Hop</li>
          <li>Pop</li>
          <li>Classic Rock</li>
        </ul>
      </ul>
  </div>

  <div id="content">
    <div id="content_text">
      I made this because I thought other people could do a better job making custom playlists for me than machines could. And I knew that people love making music recommendations, but have a hard time finding people who want to hear their music recommendations.
    </div>


  </div>

    <div id="footer">
      <ul id = "footernav">
          <li><%= link_to "About", welcome_about_path %></li>   <li><a href="/contact">Contact</a></li>
      </ul>

  </div>

</body>