<body>
  <div id = "wrapper"></div>
  <div id="header">Playlist Me</div>

  <div id="navigation">

    <ul>
      <li>Frontend</li>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
        </ul>
      </ul>

      <ul>
        <li>Backend</li>
        <ul>
          <li>Ruby on Rails</li>
          <li>Python</li>
          <li>PHP</li>
        </ul>

      </ul>

      </ul>

      <ul>
        <li>Tracks</li>
        <ul>
          <li>Ruby on Rails</li>
          <li>Python</li>
          <li>PHP</li>
        </ul>
        <li>Create a track</li>

      </ul>
  </div>

  <div id="content">
    <div id="content_text">
    Choose a topic you want to learn about or choose a track to guide you on your way to making web apps.<br>
    You can also make your own track to help others.
    </div>


  </div>

    <div id="footer">
      <ul id = "footernav">
          <li><a href="/about">About</a></li>   <li><a href="/contact">Contact</a></li>
      </ul>

  </div>

</body>